<div class="card-container">
  <h1>{{title}}</h1>

  <div class="list"
    cdkDropList
    [cdkDropListData]="tracks"
    (cdkDropListDropped)="onDrop($event)"
  >
    <p [hidden]="tracks.length !== 0">Add some tracks to get started</p>
    <div *ngFor="let track of tracks">
      <app-track [track]="track" [onDeleteTrack]="onDeleteTrack"></app-track>
    </div>
  </div>

  <div class="card" >
    <div class="input-form" (keyup.enter)="onAddTrack()">
      <input id="title" [(ngModel)]="newTrack.title" placeholder="Track title" [class.invalid]="invalidTitle"/>
      <input id="length" [(ngModel)]="newTrack.length" placeholder="00:00" [class.invalid]="invalidLength"/>
      <button (click)="onAddTrack()" type="submit" (keyup.enter)="onAddTrack()">Add</button>
    </div>
  </div>

  <p>Running length: <span class="running-length">{{sideLength() | formatLength}}</span></p>
</div>
