@import "../../styles.scss";

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  background-color: $secondarycolor;
  border-radius: 2 * $borderradius;

  h1 {
    color: $textcolor;
  }

  .list {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.card {
  border: $borderstyle;
  background-color: $newtrackcolor;

  .input-form {
    display: flex;
    justify-content: space-between;

    input {
      border: 2px solid $inputcolor;
      background-color: $inputcolor;
      border-radius: $borderradius;
      text-align: center;

      &.invalid {
        animation-name: blinker;
        animation-duration: 0.5s;
        animation-timing-function: linear;
        animation-delay: infinite;
        animation-iteration-count: 3;
        animation-direction: alternate;
      }

      &:focus{
        outline: none;
        border: 3px solid $trackcolor;
      }
    }
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
    background-color: #ff0000;
    border: 2px solid #ff0000;
  }
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.running-length {
  font-size: x-large;
}
