<div class="card-container">
  <h1>{{title}}</h1>

  <div class="list"
    cdkDropList
    [cdkDropListData]="tracks"
    (cdkDropListDropped)="onDrop($event)"
  >
    <div *ngFor="let track of tracks">
      <app-track [track]="track"></app-track>
    </div>
  </div>

  <div class="card" >
    <span>+ Add track...</span>
    <div class="input-form" (keyup.enter)="onAddTrack()">
      <input id="title" [(ngModel)]="newTrack.title" placeholder="Track title"/>
      <input id="length" [(ngModel)]="newTrack.length" placeholder="00:00"/>
      <button (click)="onAddTrack()" type="submit" (keyup.enter)="onAddTrack()">Add</button>
    </div>
  </div>

  <p>Running length {{title}}: {{sideLength() | formatLength}}</p>
</div>
