@import "../../styles.scss";

.card {
  border: $borderstyle;
  background-color: $trackcolor;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

button {
  background-color: $deleteButtonColor;
  color: $secondarytextcolor;
  margin-right: 20px;

  &:hover {
    background-color: $secondarytextcolor;
    color: $deleteButtonColor;
    border: 2px solid $deleteButtonColor;
  }
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card {
    height: 16px;
    margin: 8px 0;
  }
}
