$color1: #ffd285;
$color2: #805f29;
$color3: #ffe4b7;
$color4: #ffbe52;
$color5: #ffe1b0;

$background: #a59191;
$secondarycolor: rgb(120, 32, 32);
$trackcolor: rgb(205, 134, 28);
$newtrackcolor: rgb(158, 47, 47);
$borderstyle: 1px solid rgb(205, 134, 28);
$inputcolor: rgb(255, 239, 239);
$linkcolor: rgb(120, 32, 32);
$hoverlinkcolor: #125699;

$textcolor: rgb(255, 239, 239);
$secondarytextcolor: rgb(255, 239, 239);

html {
  background-color: $background;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
  border: $borderstyle;
  background-color: $newtrackcolor;
  height: 40px;
  width: 500px;
  margin: 0 8px 16px;
  padding: 16px;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
  cursor: pointer;
}
